DATABASE_URL="postgresql://user:password@host:5432/memgar?schema=public"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx

STRIPE_PRO_MONTHLY_PRICE_ID=price_xxx
STRIPE_PRO_YEARLY_PRICE_ID=price_xxx
STRIPE_ENTERPRISE_MONTHLY_PRICE_ID=price_xxx

ANTHROPIC_API_KEY=sk-ant-xxx

NEXT_PUBLIC_APP_URL=http://localhost:3000
API_KEY_PREFIX=mg_live_

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx
SENDGRID_API_KEY=SG.xxx
PAGERDUTY_API_KEY=xxx
